extends baseEmail

block content
  p Hi #{firstName},
  p Someone very similar to your reported person found in our database please check here: #{url}.
  p (Website for this action not yet implemented.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') See matched person
  p If you need any and help, Please don't hesitate to contact us!
