extends base 

block append head
  link(rel="stylesheet", href="/css/about-group.css")

block content 
  section#about.about.section
    .about__container.container.grid
      .about__perfil
        .about__image
          img.about__img(src='/img/users/hamid.jpg' alt='image')
          .about__shadow
          .geometric-box
          .about__box
      .about__info
        h2.section__title-1
          span About Our Team
        p.about__description
          | Passionate about creating 
          b Web Pages
          |  with 
          b UI/UX User Interface
          | , I have years of experience and many
          |             clients are happy with the projects carried out.

        .about__skills
          h3.about__skills-title Our Skills Are
          .about__skills-content.grid
            .about__skills-img
              // HTML
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/html-1.svg' alt='image HTML')
              p.about__skills-hover-text HTML
            .about__skills-img
              // CSS
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/css-3.svg' alt='image CSS')
              p.about__skills-hover-text CSS
            .about__skills-img
              // SASS
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/sass-1.svg' alt='image SASS')
              p.about__skills-hover-text SASS
            .about__skills-img
              // JavaScript
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/javascript-1.svg' alt='image JavaScript')
              p.about__skills-hover-text JavaScript
            .about__skills-img
              // Node.js
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/nodejs-1.svg' alt='image Node.js')
              p.about__skills-hover-text Node.js
            .about__skills-img
              // ExpressJs
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/express-109.svg' alt='Express js icon')
              p.about__skills-hover-text ExpressJs
            .about__skills-img
              // MongoDB
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/mongodb-icon-1.svg' alt='mongoDB icon')
              p.about__skills-hover-text MongoDB
            .about__skills-img
              // React
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/react-2.svg' alt='image React')
              p.about__skills-hover-text React
            .about__skills-img
              // Redux
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/redux.svg' alt='image Redux')
              p.about__skills-hover-text Redux
            .about__skills-img
              // Git
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/git-icon.svg' alt='image Git')
              p.about__skills-hover-text Git
            .about__skills-img
              // GitHub
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/github-icon-1.svg' alt='image GitHub')
              p.about__skills-hover-text GitHub
            .about__skills-img
              // adobe-photoshop-2
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/adobe-photoshop-2.svg' alt='adobe-photoshop-2 icon')
              p.about__skills-hover-text Photoshop
            .about__skills-img
              // adobe-illustrator
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/adobe-illustrator-cs6.svg' alt='adobe-illustrator icon')
              p.about__skills-hover-text Illustrator
            .about__skills-img
              // Postman
              img.about__skills-img(src='https://cdn.worldvectorlogo.com/logos/postman.svg' alt='Postman')
              p.about__skills-hover-text Postman

        .about__buttons
          a.button(href='#contact')
            i.ri-send-plane-line
            |  Contact Us
          a.button__ghost(href='https://www.linkedin.com/' target='_blank')
            i.ri-linkedin-box-line
          a.button__ghost(href='https://github.com/muhammad-ahmad66/' target='_blank')
            i.ri-github-line
          //- a.button__ghost(href='https://github.com/muhammad-ahmad66/' target='_blank')
          //-   img(src="https://img.icons8.com/?size=100&id=a2bDUitpXGnO&format=png&color=000000", alt="")
  .line.line-full
  section#projects.projects.section
    h2.section__title-1
      span Projects.
    .projects__container.container.grid
      article.projects__card
        .projects__image
          img.projects__img(src='https://images.unsplash.com/photo-1592417817038-d13fd7342605?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjU5NTV8&ixlib=rb-4.0.3&q=85' alt='image')
          a.projects__button.button(href='#')
            i.ri-arrow-right-up-line
        .projects__content
          h3.projects__subtitle Website
          h2.projects__title Restaurant Website
          p.projects__description
            | Project that you carry out in the design
            | and structure of the layout, showing the
            | design at the client&apos;s request.
        .projects__buttons
          a.projects__link(href='https://github.com/muhammad-ahmad66/' target='_blank')
            i.ri-github-line
            |  Source Code
          a.projects__link(href='https://dribbble.com/' target='_blank')
            i.ri-dribbble-line
            |  View
      article.projects__card
        .projects__image
          img.projects__img(src='https://images.unsplash.com/photo-1491172700640-4f1a131a3670?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjY2ODV8&ixlib=rb-4.0.3&q=85' alt='image')
          a.projects__button.button(href='#')
            i.ri-arrow-right-up-line
        .projects__content
          h3.projects__subtitle App
          h2.projects__title Yoga App
          p.projects__description
            | Project that you carry out in the design
            | and structure of the layout, showing the
            | design at the client&apos;s request.
        .projects__buttons
          a.projects__link(href='https://github.com/muhammad-ahmad66/' target='_blank')
            i.ri-github-line
            |  Source Code
          a.projects__link(href='https://dribbble.com/' target='_blank')
            i.ri-dribbble-line
            |  View
      article.projects__card
        .projects__image
          img.projects__img(src='https://images.unsplash.com/photo-1622431062669-ed38267b6de5?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjYzNDJ8&ixlib=rb-4.0.3&q=85' alt='image')
          a.projects__button.button(href='#')
            i.ri-arrow-right-up-line
        .projects__content
          h3.projects__subtitle App
          h2.projects__title Fast Food App
          p.projects__description
            | Project that you carry out in the design
            | and structure of the layout, showing the
            | design at the client&apos;s request.
        .projects__buttons
          a.projects__link(href='https://github.com/muhammad-ahmad66/' target='_blank')
            i.ri-github-line
            |  Source Code
          a.projects__link(href='https://dribbble.com/' target='_blank')
            i.ri-dribbble-line
            |  View
      article.projects__card
        .projects__image
          img.projects__img(src='https://images.unsplash.com/photo-1515560570411-00a0026e6086?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjY2MDJ8&ixlib=rb-4.0.3&q=85' alt='image')
          a.projects__button.button(href='#')
            i.ri-arrow-right-up-line
        .projects__content
          h3.projects__subtitle Website
          h2.projects__title Coffee Delivery Website
          p.projects__description
            | Project that you carry out in the design
            | and structure of the layout, showing the
            | design at the client&apos;s request.
        .projects__buttons
          a.projects__link(href='https://github.com/muhammad-ahmad66/' target='_blank')
            i.ri-github-line
            |  Source Code
          a.projects__link(href='https://dribbble.com/' target='_blank')
            i.ri-dribbble-line
            |  View
      article.projects__card
        .projects__image
          img.projects__img(src='https://images.unsplash.com/photo-1672257493461-704902362c1d?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTI3NjY0OTV8&ixlib=rb-4.0.3&q=85' alt='image')
          a.projects__button.button(href='#')
            i.ri-arrow-right-up-line
        .projects__content
          h3.projects__subtitle Website
          h2.projects__title Barbershop Website
          p.projects__description
            | Project that you carry out in the design
            | and structure of the layout, showing the
            | design at the client&apos;s request.
        .projects__buttons
          a.projects__link(href='https://github.com/muhammad-ahmad66/' target='_blank')
            i.ri-github-line
            |  Source Code
          a.projects__link(href='https://dribbble.com/' target='_blank')
            i.ri-dribbble-line
            |  View


