extends base 

block append head
  link(rel="stylesheet", href="/css/acknowledge.css")


block content 
  main.main 
    .container-acknowledge
      h1 Acknowledgement for Supervisory Guidance 
      p.paragraph We extend our sincerest gratitude to 
        b Dr. Yesser Arafat, 
        | our esteemed supervisor, for their invaluable guidance, unwavering support, and insightful feedback throughout the development of our Final Year Project, Find Reunite. Their expertise, encouragement, and mentorship have been instrumental in shaping our project and fostering our growth as budding professionals.
      p.paragraph We are deeply grateful for 
        b Dr. Yesser Arafat's
        | dedication and commitment, which have played a pivotal role in the success of our project. Their encouragement and constructive criticism have inspired us to strive for excellence and push the boundaries of innovation.
      p.paragraph We also appreciate 
        b Dr. Yesser Arafat's
        | willingness to share their knowledge and expertise, providing us with invaluable insights and perspectives that have enriched our project's development process. Their mentorship has not only enhanced our technical skills but has also instilled in us a sense of confidence and determination to overcome challenges.
      p.paragraph It is with immense appreciation that we acknowledge 
        b Dr. Yesser Arafat's
        | contributions to our project and express our heartfelt thanks for their unwavering support and guidance. We are truly fortunate to have had the opportunity to work under their mentorship, and we are indebted to them for their invaluable contributions to our academic and professional journey.

      .acknowledge-btn-box
        a.btn.btn--green
          i.ri-send-plane-line
          |   Meet him