extends base 

block append head
  script(src='https://cdn.jsdelivr.net/npm/chart.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js')
  link(rel="stylesheet", href="/css/statistics.css")

block content 

  #stat-content
    h1 findReunite
    h2 Country Distribution of Reported Missing Persons
    div(style='width: 100%; margin: auto')
      canvas#missingPersonsByCountryChart
    button#download-btn
      i.ri-file-download-fill
      | &nbsp; Download PDF
  //- script(src='/js/chart.js')
  //- script(src='/js/pdf.js')