extends base 

block content 
  main.main 
    .container-acknowledge
      h1 Privacy Policy
      div
        h2 Information Collection and Use 
        p.paragraph We respect the privacy of our users and are committed to protecting their personal information. When you use our website, we may collect certain information to improve your experience and provide you with relevant services. This information may include your name, email address, and any other details you voluntarily provide.

      div   
        h2 Information Sharing and Disclosure 
        p.paragraph We do not sell, trade, or rent users' personal information to third parties. However, we may share your information with trusted third parties who assist us in operating our website or conducting our business, as long as those parties agree to keep this information confidential.
      
      div
        h2 Security 
        p.paragraph We take the security of your personal information seriously and implement appropriate measures to protect it from unauthorized access, alteration, disclosure, or destruction.
      
      div
        h2 Changes to This Privacy Policy 
        p.paragraph We reserve the right to update or change our privacy policy at any time. Any changes will be posted on this page, and your continued use of the website after such changes will constitute your acceptance of the revised policy.