.reported-form-container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
}

.reported-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.reported-form__group {
  width: calc(50% - 3rem);
}

.reported-form__group.full-width {
  width: 100%;
}
.reported-form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;

  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.reported-form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.reported-form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.reported-form__input::-webkit-input-placeholder {
  color: #bbb;
}

.reported-form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.reported-form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.reported-form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.reported-form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.reported-form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.reported-form__upload:focus + .reported-form__label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.reported-form__upload + .reported-form__label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.reported-form__upload + .reported-form__label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* ---------------------- */
/* ---------------------- */
/* ---------------------- */

/* ? SEARCH ROW */
.search-row {
  /* max-width: 80%; */
  margin: 3rem auto 1rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 0px 3px #55c57a;
  /* border: 1px solid #55c57a; */
  border-radius: 6px;
  /* background-color: #55c57a; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  gap: 4rem;
}

.nav__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0;
}

.nav__filter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__search-btn {
  background: none;
  border: none;
  margin-right: 0.8rem;
  transform: translateY(1px);
  color: #55c57a; /* Use primary color */
}

.btn-search:link,
.btn-search:visited,
.btn-search {
  background-color: #55c57a;
  color: #fff;
  border: none;
  padding: 0.4rem 1.4rem;
  display: flex;
  margin-left: 0.8rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  border-radius: 4px;
}

.btn-search:hover,
.btn-search:active {
  background-color: #7dd56f;
}

.nav__search-btn i {
  height: 6rem;
  width: 6rem;
  color: #55c57a; /* Use primary color */
}

.nav__search-input {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  width: 18rem;
  transition: all 0.3s;
}

.nav__search-input::-webkit-input-placeholder {
  color: #999;
}

.nav__search-input:-ms-input-placeholder {
  color: #999;
}

.nav__search-input::-ms-input-placeholder {
  color: #999;
}

.nav__search-input::placeholder {
  color: #999;
}

.nav__search-input:focus {
  outline: none;
  width: 25rem;
  border-bottom: 1px solid #55c57a; /* Use primary color */
}

.nav__search-select {
  font-family: inherit;
  font-size: 1.5rem;
  color: #999;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #999;
  margin-right: 1rem;
  cursor: pointer;
}

.nav__search-select:focus {
  outline: none;
}

.nav__search-select option {
  color: #000; /* Use black color for options */
  cursor: pointer;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.btn-prev i,
.btn-next i {
  font-size: 3rem;
}
