/* Container for centering and spacing */
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjust height as needed */
  background-color: #f7f7f7; /* Light background color */
}

/* Form styling */
form {
  background-color: #fff; /* White background for the form */
  border: 1px solid #ddd; /* Light border around the form */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Space inside the form */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center; /* Center align content */
}

/* File input styling */
input[type='file'] {
  display: block; /* Block display for proper alignment */
  margin: 0 auto; /* Center alignment */
  padding: 10px; /* Padding inside the file input */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* White background */
}

/* Submit button styling */
button[type='submit'] {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size */
  color: #fff; /* White text color */
  background-color: #55c57a; /* Blue background */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

/* Button hover effect */
button[type='submit']:hover {
  background-color: #20bf6b;
}
